@charset "UTF-8";
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
} 

nav > a:hover{
    transition-duration: 0.5s;
    padding: 3px;
    background-color: #FA8837;
    color: #F2EDDC;
}

main {
    border: 5px solid #000000;
    margin: auto;
    width: 1000px;
    padding: 20px;
    box-shadow: 15px 15px 2px #FA8837;
    margin-bottom: 25px;
}

nav {
    width: 950px;
    border: 2px groove #000000;
    margin: auto;
    padding: 12px;
    background-color: #bb500a;
}

nav > a {
    margin: 10px;
    text-decoration: none;
}

body {
    background-color: #FA6800;
}

p {
    color: #F2EDDC;
    padding-bottom: 20px;
    line-height: 1em;
    text-indent: 25px;
    text-align: left;
}


li {
    color: #000000;
}

h1 {
    color: #FFFFFF;
}

h2 {
    color: #F2EDDC;
    background-color: #bb500a;
}

h3 {
    color: #F2EDDC;
    background-color: #FA8837;
}

a {
    color: #000000;
}